.profile-container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
}

.profile-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: space-around;
}

.profile-details {
    display: flex;
    flex-direction: column;
    min-width: 850px;
    justify-self: flex-start;
}

.profile-details-name {
    font-size: 24px;
    font-family: "Poppins SemiBold";
}

.profile-details-roles {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin: 14px 0 24px 0;
}

.profile-details-roles h1 {
    font-size: 40px;
    font-family: cursive;
}

.primary-text {
    color: var(--light-grey);
}

.highlighted-text {
    color: var(--turquoise);
}

.profile-role-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
    margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    background-color: var(--light-grey);
    color: #111;

}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0 0 var(--light-grey);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0 0 100px;
}

.profile-picture-background {
    height: 92%;
    width: 92%;
    background-image: url('../../../assets/Home/profile_pic.jpg');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-background:hover {
    height: 98%;
    width: 98%;
    transition: 500ms;
}

.external i {
    color: white;
    padding: 8px 8px 8px 0;
    margin-inside: 8px;
}

.external:hover i {
    color: var(--turquoise);
}