.separator-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.separator-parent {
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

.spikes {
    position: relative;
    background: var(--home-background);
    height: 5vh;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 55px;
    background-size: 55px 100%;
    background-image: linear-gradient(135deg, var(--home-background) 25%, transparent 25%), linear-gradient(225deg, var(--home-background) 25%, transparent 25%);
    background-position: 0 0;
}